# === Carpetas de dependencias y build ===
node_modules/
firebase-debug.log
firebase-debug.*
*.log

# === Archivos locales de Firebase ===
.firebaserc
.firebase/
firebase-debug.log
firebase-debug.*

# === Archivos de configuración local ===
.env
.DS_Store
Thumbs.db

# === Ignorar archivos de backend innecesarios en el front ===
backend/node_modules/
backend/.env
backend/.firebase/
backend/.firebaserc

# === Otros ===
*.pyc
__pycache__/
